<div class="login-container">
<div class="login">
  <div class="login-form" [formGroup]="form">
    <h3>Login</h3>

    <div class="form-control">
      <label>Username:</label>
      <input placeholder="Enter your username" formControlName="username" />
    </div>

    <div class="form-control">
      <label>Password:</label>
      <input
        type="password"
        placeholder="Enter your password"
        formControlName="password"
      />
    </div>
  </div>

  <div class="form-actions">
    <button class="btn" (click)="login()">Login</button>
    
    <!-- <button class="btn" routerLink="/home">Home</button> -->
  </div>
</div>
