
<mat-sidenav-container fullscreen>

  <mat-sidenav #start (click)="start.open()">
    <mat-nav-list>
      @if (isAdmin()) {

        <a mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
      
      } @else if (isUser()) {

        <a mat-list-item routerLink="/books">
          <mat-icon>library_books</mat-icon>
          <span>Books</span>
        </a>
        <a mat-list-item routerLink="/addbook">
          <mat-icon>add</mat-icon>
          <span>Crate Book</span>
        </a>
      
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    @if(isUserLoggedIn()) {

      <div>
        <button mat-icon-button (click)="start.open('mouse')">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    
    }

    <div class="spacer"></div>
    
    @if(!isUserLoggedIn()) {

      <button mat-flat-button routerLink="/login">
        <span>Login</span>
      </button>
      <button mat-flat-button routerLink="/register">
        <span>register</span>
      </button>
    
    } @else {

      <button mat-flat-button (click)="logout()">
        <span>Logout</span>
      </button>
    
    }


  </mat-toolbar>

  <main>
    <app-loading />
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>


