<div class="register">
  <div class="register-form" [formGroup]="form">
    <h3>Register</h3>

    <div class="form-control">
      <label>Username:</label>
      <input placeholder="Enter your username" formControlName="username" />
    </div>

    <div class="form-control">
      <label>Password:</label>
      <input
        type="password"
        placeholder="Enter your password"
        formControlName="password"
      />
    </div>
  </div>

  <div class="form-actions">
    <button class="btn" routerLink="/home">Home</button>

    <button class="btn" (click)="register()">Register</button>
  </div>
</div>
